---
import { Image } from "@astrojs/image/components";
import Faq from "../components/Faq.astro";
import ArrowDown from "../components/icons/ArrowDown.astro";
import Download from "../components/icons/Download.astro";
import FastArrowRight from "../components/icons/FastArrowRight.astro";
import Github from "../components/icons/Github.astro";
import Media from "../components/Media.astro";
import Technologie from "../components/Technologie.astro";
import Layout from "../layouts/Layout.astro";

const homeLatop = "/images/thomas-peissl.jpg";
const homeRnote = "/images/home-rnote.png";
const homeGaming = "/images/home-gaming.png";
const homeApps = "/images/home-apps.png";
const homePkgs = "/images/home-pkgs.png";
const homeDeskApx = "/images/home-desk-apx.png";
---

<Layout title="Vanilla OS">
  <section class="grid justify-items-center gap-3 py-16 px-5">
    <Image
      src={homeLatop}
      format="webp"
      width={750}
      height={403}
      alt="Thomas Peißl"
    />
    <a
      href="https://github.com/sponsors/thomaspeissl/"
      class="bg-black font-medium text-white py-3 px-6 rounded-full text-xl flex items-center gap-2"
    >
      GitHub
      <Github />
    </a>
    
    <a
      href="#next"
      class="grid gap-3 justify-items-center text-2xl mt-[5vh] dark:text-white"
    >
      Profile
      <ArrowDown />
    </a>
  </section>

  <section id="next" class="feature-card">
    <h2 class="h2">Nicely Updated.</h2>
    <p>I work with computers to build and improve websites. I also enjoy exploring new tech and keeping digital systems stable and secure.</p>
    <p>My work is designed to last over time and always be faithful to you.</p>
    <p>
      It
      receives updates at the right time, neither before nor after, without
      sacrificing security and functionality.
    </p>
  </section>
  <section class="feature-card desktop">
    <div class="grid gap-4 lg:text-start">
      <h2 class="h2">Work.</h2>
      <p>Your faithful colleague by day.</p>
      <p>
        My applications are designed to be a reliable and productive systems
        for your daily work. The Web is the perfect environment for
        your daily tasks, with a clean and intuitive interface, everything is at
        your fingertips.
      </p>
      <p>
        I can build a wide range of applications, that are ready to meet your
        needs, whether you are a developer, a designer, a student or a simple
        user.
      </p>
    </div>
    <Image
      src={homeRnote}
      width={612}
      height={425}
      alt="Rnote Flatpak App"
      format="webp"
      class="m-auto"
    />
  </section>
  <section class="feature-card desktop">
    <div class="grid gap-4 lg:text-start lg:order-1">
      <h2 class="h2">Play.</h2>
      <p>Your teammate by night.</p>
      <p>
        Thanks to recent developments, we Linux enthusiasts who are always on the hunt for the perfect distro are finally able to join the gaming party.
      </p>
      <p>  
        Play your favourite video games without worrying about setting up your
        devices. Modern distros like <a class="link" href="https://pop.system76.com">Pop!_OS</a> or <a class="link" href="https://vanillaos.org">Vanilla OS</a> offer the latest stable Linux kernel, ensuring
        support for the latest devices and the latest performance improvements.
      </p>
    </div>
    <Image
      src={homeGaming}
      width={740}
      height={577}
      alt="Games pic"
      format="webp"
      class="m-auto"
    />
  </section>
  <section
    class="grid place-items-center gap-4 text-center px-5 py-16 relative"
  >
    <Image
      src={homeApps}
      format="webp"
      alt="Linux Apps"
      class="opacity-50"
      width={1748}
      height={1559}
    />
    <div class="absolute">
      <div class="grid gap-4">
        <h2 class="h2">Complete.</h2>
        <p>Acces a large catologue of applications.</p>
      </div>
    </div>
        <div class="dark:text-white"> 
       <a href="https://pop.system76.com" class="link">Pop!_OS</a> 
       | 
       <a href="https://vanillaos.org" class="link">Vanilla OS</a> 
     </div>
  </section>
  <section
    class="grid gap-4 lg:gap-10 text-center px-5 py-16 container mx-auto"
  >
    <h2 class="h2">Free & Open Source.</h2>
    <p>
      Most of my work is built on top of free and Open Source technologies and software.
    </p>
    <p>
      Many tools that I created are released under Open Source licenses and the code
      is available for your review, contribution or forking.
    </p>
    <a
      class="bg-black rounded-full font-medium text-white py-3 px-6 w-fit mx-auto flex items-center gap-2"
      href="https://github.com/sponsors/thomaspeissl/"
    >
      Fork on
      <span>
        <Github />
      </span>
      GitHub
    </a>
  </section>

  <section class="bg-[#f2f1ed] py-16 dark:bg-[#2e2e2e]">
    <div class="grid gap-3 px-5 container mx-auto">
      <h2 class="text-5xl font-bold lg:text-7xl lg:text-center dark:text-white">
        Frequently Asked Questions
      </h2>
      <p
        class="text-xl lg:text-2xl lg:text-center text-[#3F3B47] dark:text-[#c3c3c3]"
      >
        Here are some of the most common questions I get asked.
      </p>
      <Faq />
    </div>
  </section>

</Layout>

<style>
  html {
    @apply dark:bg-[#242424];
  }
  .h2 {
    @apply text-5xl font-bold lg:text-7xl dark:text-white;
  }

  .link {
    @apply text-[#282828] border-[#282828] border-b border-dotted dark:text-white dark:border-white;
  }

  p {
    @apply text-xl lg:text-2xl text-[#3F3B47] dark:text-[#c3c3c3];
  }

  .feature-card {
    @apply grid gap-4 text-center px-5 py-16 container mx-auto;
  }

  .feature-card.desktop {
    @apply lg:grid-cols-2 lg:items-start;
  }
</style>
