---
import { Image } from "@astrojs/image/components";
import Faq from "../components/Faq.astro";
import ArrowDown from "../components/icons/ArrowDown.astro";
import Download from "../components/icons/Download.astro";
import FastArrowRight from "../components/icons/FastArrowRight.astro";
import Github from "../components/icons/Github.astro";
import GooglePlay from "../components/icons/GooglePlay.astro";
import Amazon from "../components/icons/Amazon.astro";
import Browser from "../components/icons/Browser.astro";
import Media from "../components/Media.astro";
import Technologie from "../components/Technologie.astro";
import Layout from "../layouts/Layout.astro";

const homeLatop = "/images/thomas-peissl.jpg";
const homeRnote = "/images/home-rnote.png";
const homeGaming = "/images/home-gaming.png";
const homeBook = "/images/the-adventure-of-the-little-oak-a-journey-to-the-sun.jpg";
const homeApps = "/images/home-apps.png";
const homePkgs = "/images/home-pkgs.png";
const homeDeskApx = "/images/home-desk-apx.png";
---

<Layout title="Thomas Peißl">
  <section class="grid justify-items-center gap-3 py-16 px-5">
    <Image
      src={homeLatop}
      format="webp"
      width={750}
      height={403}
      alt="Thomas Peißl"
    />
    <a
      href="https://github.com/thomaspeissl/"
      class="bg-black font-medium text-white py-3 px-6 rounded-full text-xl flex items-center gap-2"
    >
      <Github /> GitHub
    </a>
    
    <a
      href="#next"
      class="grid gap-3 justify-items-center text-2xl mt-[5vh] dark:text-white"
    >
      More
      <ArrowDown />
    </a>
  </section>

  <section id="next" class="feature-card">
    <br>
    <h2 class="h2">About me</h2>
    <p>I work with computers to build and improve websites, explore new technologies, and ensure digital systems are stable and secure.</p>
    <p>My work is designed to endure over time and stay committed to client satisfaction.</p>
  </section>
  <section class="feature-card desktop">
    <div class="grid gap-4 lg:text-start">
      <h2 class="h2">Work</h2>
      <p>Your faithful colleague by day.</p>
      <p>
        My applications and tools are crafted to be not only reliable and lightweight but also uniquely tailored to fit the diverse needs of developers, designers, students, and everyday users.
      </p>
      <p>
        I build a wide range of applications, ready to meet your specific requirements with precision and innovation.
      </p>
      
      <a href="https://github.com/thomaspeissl/v-shopware-api-client"
      class="bg-black font-medium text-white py-3 px-6 rounded-full text-xl flex items-center gap-2"
      ><Github />V Shopware 6 admin API client</a>

    </div>
    <Image
      src={homeRnote}
      width={612}
      height={425}
      alt="Rnote Flatpak App"
      format="webp"
      class="m-auto"
    />
  </section>
  <section class="feature-card desktop">
    <div class="grid gap-4 lg:text-start lg:order-1">
      <h2 class="h2">Play</h2>
      <p>Your teammate by night.</p>
      <p>
        Beyond my professional tech pursuits, I am a passionate gamer and game developer. I focus on creating immersive experiences that transport players to extraordinary worlds.
      </p>
      <p>
        Through game development and my hobbies, like web development and Linux explorations, I channel my deep curiosity and love for all aspects of technology.
      </p>
      <a href="https://quick-dungeon-crawler-od.thomaspeissl.com"
      class="bg-black font-medium text-white py-3 px-6 rounded-full text-xl flex items-center gap-2"
      ><Browser />Quick Dungeon Crawler on Demand</a>
      
      <a href="https://play.google.com/store/apps/details?id=com.thomaspeissl.quick_dungeon_crawler_od.twa"
      class="bg-black font-medium text-white py-3 px-6 rounded-full text-xl flex items-center gap-2"
      ><GooglePlay />Quick Dungeon Crawler on Demand</a>

      <a href="https://github.com/thomaspeissl/quick-dungeon-crawler-rpg-od"
      class="bg-black font-medium text-white py-3 px-6 rounded-full text-xl flex items-center gap-2"
      ><Github />Quick Dungeon Crawler on Demand</a>
    </div>
    <Image
      src={homeGaming}
      width={740}
      height={577}
      alt="Games pic"
      format="webp"
      class="m-auto"
    />
  </section>
  <section class="feature-card desktop">
    <div class="grid gap-4 lg:text-start">
      <h2 class="h2">Read</h2>
      <p>Your guide to enchanting tales by day.</p>
      <p>
        Dive into my children's ebook, crafted not just to entertain but to inspire young minds to dream big and embrace diversity. This story serves as a portal to magical realms, designed to spark curiosity and offer timeless wisdom.
      </p>
      <p>
        Whether you're a young reader looking for adventure or a parent seeking a meaningful story for your child, my book is ready to transport you into a world where fantasy and learning go hand in hand.
      </p>
      <a href="https://amzn.eu/d/5pTEERA"
      class="bg-black font-medium text-white py-3 px-6 rounded-full text-xl flex items-center gap-2"
      ><Amazon />The Adventure of the Little Oak: A Journey to the Sun</a>
      <a href="https://amzn.eu/d/0kpnKB2"
      class="bg-black font-medium text-white py-3 px-6 rounded-full text-xl flex items-center gap-2"
      ><Amazon />The Adventure of the Little Oak: A Journey to the Sun (German Edition)</a>
    </div>
    <Image
      src={homeBook}
      width={910}
      height={1024}
      alt="The Adventure of the Little Oak: A Journey to the Sun"
      format="webp"
      class="m-auto"
    />
  </section>
  <section
    class="grid gap-4 lg:gap-10 text-center px-5 py-16 container mx-auto"
  >
    <h2 class="h2">Free & Open Source</h2>
    <p>
      Most of my work is built on top of free and open source technologies and software. I am a devoted advocate of open source, valuing transparency, collaboration, and community in all my projects.
    </p>
    <p>
      Many tools I've created are released under open source licenses, available for your review, contribution, or forking. As a web developer and Linux enthusiast, I continuously explore techy treasures and share them freely, embodying the open-source spirit.
    </p>
    <a
      class="bg-black rounded-full font-medium text-white py-3 px-6 w-fit mx-auto flex items-center gap-2"
      href="https://github.com/thomaspeissl/"
    >
      Fork on
      <span>
        <Github />
      </span>
      GitHub
    </a>
  </section>

</Layout>

<style>
  html {
    @apply dark:bg-[#242424];
  }
  .h2 {
    @apply text-5xl font-bold lg:text-7xl dark:text-white;
  }

  .link {
    @apply text-[#282828] border-[#282828] border-b border-dotted dark:text-white dark:border-white;
  }

  p {
    @apply text-xl lg:text-2xl text-[#3F3B47] dark:text-[#c3c3c3];
  }

  .feature-card {
    @apply grid gap-4 text-center px-5 py-16 container mx-auto;
  }

  .feature-card.desktop {
    @apply lg:grid-cols-2 lg:items-start;
  }
</style>
