---
import { Image } from "@astrojs/image/components";
const year = new Date().getFullYear();

const footerAreas = [
  {
    name: "Legal",
    content: [
      {
        name: "Cookies",
        url: "#",
      },
      {
        name: "Logos",
        url: "#",
      },
      {
        name: "Funding",
        url: "#",
      },
    ],
  },
  {
    name: "Community",
    content: [
      {
        name: "Our Community",
        url: "#",
      },
      {
        name: "Code of Conduct",
        url: "#",
      },
      {
        name: "Get Involved",
        url: "#",
      },
    ],
  },
  {
    name: "Support",
    content: [
      {
        name: "Docummentation",
        url: "#",
      },
      {
        name: "Community Support",
        url: "#",
      },
      {
        name: "Source Code",
        url: "#",
      },
    ],
  },
  {
    name: "Follow us",
    content: [
      {
        name: "Discord",
        url: "#",
      },
      {
        name: "Mastodon",
        url: "#",
      },
      {
        name: "Twitter",
        url: "#",
      },
      {
        name: "RSS",
        url: "#",
      },
    ],
  },
];
---

<footer>
  <div class="bg-[#f2f1ed] dark:bg-[#2d2d2d] py-16">
    <section
      class="grid gap-14 px-5 lg:grid-cols-2 container mx-auto dark:text-white"
    >
      <div class="grid gap-3">
        <Image
          src="/logos/vanilla-logo.png"
          width={248}
          height={87}
          alt="VanillaOS logo"
          format="webp"
          class="w-32 dark:invert"
        />
        <p>Made with ❤️ by the Vanilla OS Contributors.</p>
      </div>
      <div class="grid gap-3">
        <p>
          Vanilla OS is a Free and Open Source project.
          <a class="link" href="#">Learn here</a>
          how to get involved.
        </p>
        <p>
          <small
            >Every software and component is licensed under different Open
            Source licenses.
          </small>
        </p>
      </div>
    </section>
  </div>
  <div class="bg-[#e4e3df] dark:bg-[#181818] py-16 grid gap-10">
    <section
      class="grid container mx-auto gap-3 px-5 lg:flex lg:justify-between"
    >
      {
        footerAreas.map((area) => {
          const { name, content } = area;
          return (
            <div class="grid gap-5 py-2 dark:text-white">
              <h2 class="text-xl font-bold">{name}</h2>
              <ul class="grid gap-1">
                {content.map((content) => {
                  const { name, url } = content;
                  return (
                    <li>
                      <a class="link" href={url}>
                        {name}
                      </a>
                    </li>
                  );
                })}
              </ul>
            </div>
          );
        })
      }
    </section>
    <small class="text-center dark:text-white">
      Copyrigth © {year}
      <a href="#" class="link">fabricators.ltd</a>
    </small>
  </div>
</footer>

<style>
  .link {
    @apply text-[#282828] border-[#282828] border-b border-dotted dark:text-white dark:border-white;
  }
</style>
