---
import { Image } from "@astrojs/image/components";
const navbar = [
  {
    title: "Blog",
    url: "/blog",
  },
  {
    title: "FAQ",
    url: "/faq",
  },
  {
    title: "Community",
    url: "#",
  },
  {
    title: "Documentation",
    url: "#",
  },
  {
    title: "Handbook",
    url: "#",
  },
  {
    title: "Get Involved",
    url: "/get-involved",
  },
];
---

<header id="header" class="py-6 transition-all top-0 sticky z-10">
  <div
    class="flex items-center justify-between px-5 container mx-auto transition-all"
  >
    <a href="/">
      <Image
        src="/logos/vanilla-logo.png"
        width={248}
        height={87}
        alt="VanillaOS logo"
        format="webp"
        class="w-32 dark:invert"
      />
    </a>
  </div>
</header>

<script client:load>
  const $header = document.querySelector("#header");
  const $menuIcon = document.querySelector("#menuIcon");
  const $menu = document.querySelector("#menu");

  $menuIcon.addEventListener("click", () => {
    $menu.classList.toggle("hidden");
  });

  window.addEventListener("scroll", () => {
    if (window.scrollY > 1) {
      $header.classList.remove("py-6", "bg-transparent");
      $header.classList.add(
        "py-3",
        "shadow-md",
        "bg-white",
        "dark:bg-[#242424]"
      );
    } else if (window.scrollY === 0) {
      $header.classList.remove(
        "py-3",
        "shadow-md",
        "dark:bg-[#242424]",
        "bg-white"
      );
      $header.classList.add("py-6", "bg-transparent");
    }
  });
</script>
