{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-lg-7 pb-5 text-center">
    <h1>{{ .Title }}</h1>
    <p>{{ .Params.Lead | safeHTML }}</p>
    <a class="btn btn-dark px-3" href="mailto:office@thomaspeissl.com" role="button">Contact</a>
   <!-- <a class="btn btn-outline-dark px-3" href="https://gethyas.com/" role="button">Resume</a>-->
  </div>
</div>
{{ end }}

{{ define "section" }}
<section class="section container-fluid">
  {{- .Content -}}
</section>
{{ end }}
