---
import Faq from "../../components/Faq.astro";
import LayoutPage from "../../layouts/LayoutPage.astro";
---

<LayoutPage
  title="Vanilla OS FAQ"
  name="FAQ"
  description="Frequently Answred Asked Questions about Vanilla OS."
>
  <section class="py-16 px-5 grid gap-5 container mx-auto">
    <Faq />
  </section>
</LayoutPage>
